// === FORM ===
.messageForm {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0;
  textarea {
    background: transparent;
    border: 2px solid $primary;
    border-radius: 10px;
    color: $accent;
    height: 140px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    &:focus,
    &:focus-within {
      outline: 2px solid $secondary;
      outline-offset: 3px;
    }
  }

  .btnWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
    button {
      background: $secondary;
      border-radius: 10px;
      color: $black;
      transition: background 150ms;
      margin: 0;
      width: 48%;
      &.postMsg {
        background: $primary;
      }
    }
    .showSecrets {
      background: transparent;
      color: $white;
      margin: 8px 0;
      width: 57%;
    }
  }
}
