// === MEDIA QUERIES ===

// Small Screens ----- +
@media all and (min-width: 375px) {
  html {
    font-size: 40%;
  }

  h1 {
    font-size: 10rem;
  }
}

// Medium Screens ----- +
@media all and (min-width: 500px) {
  html {
    font-size: 50%;
  }

  .headingWrapper {
    width: 60%;
  }

  h1 {
    font-size: 12rem;
    padding: 30px 0;
  }

  .prompts {
    .promptsModal {
      padding: 50px;
    }
  }

  .messageForm {
    padding: 20px 0;
    label {
      padding: 15px 0;
    }
    textarea {
      height: 175px;
      padding: 20px;
    }
    button {
      margin: 15px 0;
    }
  }
}

// Medium Screens ----- +
@media all and (min-width: 768px) {
  html {
    font-size: 55.5%;
  }

  .messageHeading {
    h2 {
      font-size: 10rem;
    }
  }

  .message {
    max-width: 48%;
  }
}

// Large Screens ----- +
@media all and (min-width: 1100px) {
  html {
    font-size: 55%;
  }

  header,
  main {
    height: 100vh;
  }

  header {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .intro p {
    padding: 15px 0;
  }

  // Form
  .messageForm {
    margin: 30px 0;
    padding: 25px 0;
    position: relative;
    width: 100%;
    label {
      padding-top: 0;
    }
    textarea {
      margin: 0 auto;
      padding: 20px;
      width: 55%;
    }
    .btnWrapper {
      display: flex;
      flex-wrap: wrap;
      left: 0;
      bottom: 7px;
      position: absolute;
      width: 50%;
      button {
        margin: 5px 0;
        width: 60%;
      }
    }
  }

  .messageHeading {
    button {
      border: 2px solid $white;
      border-radius: 5px;
      padding: 10px 20px;
      &:hover {
        border: 3px solid $white;
      }
    }
  }
}
