// === MESSAGE COMPONENT ===
.messages {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.message {
  // background: lighten($white, 10);
  // box-shadow: inset 0 0 100px lighten($white, 5);
  border: 3px solid $white;
  border-radius: 7px;
  color: lighten($white, 5);
  margin: 20px 0;
  overflow-wrap: break-word;
  padding: 30px;
  float: left;
  width: 31%;
  &.white {
    border-color: $white;
  }
  &.green {
    border-color: $success;
  }
  &.blue {
    border-color: $primary;
  }
  &.purple {
    border-color: $accent;
  }
  &.yellow {
    border-color: $secondary;
  }
  &.red {
    border-color: $error;
  }
  &.whiteBkg {
    background: $white;
    color: $black;
  }
}
