// === MESSAGE ===
.messages {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.messageHeading {
  background: $black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  .btnWrapper {
    align-items: center;
    display: flex;
  }
  button {
    background: transparent;
    border-radius: 5px;
    color: $primary;
    padding: 5px 10px;
    font-size: 2rem;
    font-weight: 400;
  }
}

.message {
  border: 2px solid $white;
  border-radius: 7px;
  color: lighten($white, 5);
  margin: 15px 0;
  overflow-wrap: break-word;
  padding: 25px;
  max-width: 100%;
  &.white {
    border-color: $white;
  }
  &.green {
    border-color: $success;
  }
  &.blue {
    border-color: $primary;
  }
  &.purple {
    border-color: $accent;
  }
  &.yellow {
    border-color: $secondary;
  }
  &.pink {
    border-color: hotpink;
  }
  .buttonWrapper {
    float: right;
    button {
      background: transparent;
      margin: 2px;
      padding: 3px;
      .fa-heart {
        background: $black;
        color: pink;
      }
    }
  }
}
