// === PROMPTS ===
.prompts {
  background: $blackTransparent;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  .promptsModal {
    background: $black;
    border: 4px solid $secondary;
    border-radius: 20px;
    max-width: 700px;
    padding: 30px;
    position: absolute;
    width: 80%;
  }
  .backButton {
    border-radius: 5px;
    padding: 10px 20px;
    background: $primary;
  }
  .faBack {
    background: transparent;
    border: none;
    color: $white;
    position: absolute;
    top: 5px;
    right: 10px;
  }
}
