// === TYPOGRAPHY ===
html {
  font-size: 32%;
}

body,
button,
label,
textarea {
  font-size: 2.7rem;
}

body,
button,
textarea,
textarea::placeholder {
  font-family: $mainStack;
}

h1 {
  font-size: 8rem;
  font-weight: 400;
  padding: 15px 0;
  span {
    color: $secondary;
  }
}

p {
  padding: 7px 0;
}

p,
textarea {
  line-height: 1.4;
}

a {
  color: $white;
  text-decoration: none;
}

button {
  font-weight: 700;
}

label {
  padding: 10px 0;
}

textarea::placeholder {
  color: $white;
  font-size: 2.5rem;
}

.intro p {
  color: $white;
}

.btnWrapper .showSecrets {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
}

.messages {
  h2 {
    font-family: "Reenie Beanie", cursive;
    font-size: 6rem;
    font-weight: 400;
  }
  p {
    letter-spacing: 0.4rem;
    &.annie {
      font-family: $annieStack;
    }
    &.amatic {
      font-family: $amatic;
    }
    &.reenie {
      font-family: $reenieStack;
      font-size: 4rem;
    }
    &.sueEllen {
      font-family: $sueEllenStack;
    }
    &.swanky {
      font-family: $swankyStack;
      text-transform: uppercase;
    }
    &.arial {
      font-family: $arielStack;
      font-size: 1.6rem;
    }
    &.architects {
      font-family: $architects;
    }
    &.nanum {
      font-family: $nanum;
    }
    &.neucha {
      font-family: $neucha;
    }
  }
}

.prompts h2 {
  font-weight: 400;
  padding: 15px 0;
}
