// === TYPOGRAPHY ===
html {
  font-size: 32%;
}

body,
p,
button,
label,
textarea {
  font-size: 2.7rem;
}

body,
button,
textarea,
textarea::placeholder {
  font-family: $mainStack;
}

p,
textarea {
  line-height: 1.4;
}

h1 {
  font-size: 8rem;
  font-weight: 400;
  padding: 25px 0;
  span {
    color: $secondary;
  }
}

button {
  font-weight: 700;
}

label {
  padding: 10px 0;
}

textarea::placeholder {
  color: $white;
  font-size: 2.5rem;
}

.intro {
  color: $white;
}

.messages {
  h2 {
    background: $black;
    font-family: "Reenie Beanie", cursive;
    font-size: 10rem;
    font-weight: 400;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
  }
  p {
    letter-spacing: 0.4rem;
    &.annie {
      font-family: $annieStack;
    }
    &.gaegu {
      font-size: 5rem;
      font-family: $sacramentoStack;
    }
    &.reenie {
      font-family: $reenieStack;
      font-size: 4rem;
    }
    &.sueEllen {
      font-family: $sueEllenStack;
    }
    &.swanky {
      font-family: $swankyStack;
      text-transform: uppercase;
    }
    &.arial {
      font-family: $arielStack;
      font-size: 1.6rem;
    }
  }
}
