// === VARIABLES ===

// Colours ----- +
$black: rgb(21, 21, 26);
$white: rgb(188, 170, 164);

$primary: rgb(128, 203, 196);
$secondary: rgb(255, 171, 0);
$accent: rgb(186, 104, 200);

$success: rgb(102, 187, 106);
$error: rgb(239, 83, 80);

// Fonts ----- +
$fontStack: "Anonymous Pro", courier, monospace;
